@media (max-width: 768px) {
  .project-container {
    grid-template-columns: 1fr;
    max-width: 100%;
  }
}

button {
  display: none;
}

/* Contact section styling */
.footer {
  display: flex;
  justify-content: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1rem;
  color: white;
  width: 100%;
}

.footer i {
  margin-right: 0.5rem;
}

.contact-div {
  margin-right: 4rem;
}

.list-none {
  text-decoration: none;
  list-style: none;
}

div a img {
  border-radius: 5px;
  padding-bottom: 8px;
  max-width: 100%;
  height: auto;
}

h3 {
  padding-bottom: 4rem;
}

@media (max-width: 768px) {
  .project-container {
    max-width: 100%;
    grid-template-columns: 1fr;
  }

  header {
    min-height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
  }
  .logo {
    padding: 0;
    margin-left: 1rem;
  }
  header nav {
    display: none;
  }
  .intro-page {
    margin-top: 4rem;
    max-width: 100%;
    margin-left: 0;
  }
}

@media (max-width: 590px) {
  header {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
  }

  .links {
    display: none;
  }
  .links.active::after {
    width: 3.8rem;
    position: absolute;
    left: 8.5px;
  }
}

@media (max-width: 400px) {
  nav {
    display: none;
  }

  .logo {
    margin-left: 1rem;
  }
  header {
    width: 100%;
  }
  p {
    font-size: 0.7em;
  }
}
