* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: auto;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

body {
  /* min-height: 100vh; */
  font-family: "Lora", sans-serif;
  font-weight: 560;
  position: relative;
  color: #c9a227;
  background: linear-gradient(60deg, #22229d, #5a646f);
  background-attachment: fixed;
}

.before-name {
  font-size: 1.7rem;
}

.main-content {
  flex: 1;
  margin-bottom: 4rem;
  width: 100%;
}

.project {
  /* padding: 2px; */
  border-radius: 6px;
  text-align: center;
  background: linear-gradient(100deg, rgb(2, 130, 169), rgb(0, 64, 123));
  color: #ececec;
  padding-bottom: 8px;
  max-width: 100%;
  font-size: 1.4rem;
}

.languages {
  font-size: 1.4rem;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  background-color: #070a2f;
  z-index: 111;

  height: 4rem;
}

.logo {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  cursor: pointer;
}

.telegram {
  font-size: 0.75rem;
}

.intro-page {
  width: 100%;
  min-height: 8rem;
}
.text {
  min-height: 8rem;
  margin-left: 2rem;
  width: 100%;
  background-image: linear-gradient(to right top, #d6d6d6, #9eb708);
  -webkit-background-clip: text;
  color: transparent;
}

.links {
  margin-left: 1rem;
  text-decoration: none;
  color: #fad643;
  font-size: 1.2rem;
  transition: all ease 0.3s;
}

.links:hover {
  color: #cb9144;
}

.links.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 5rem;
  height: 3px;
  background-color: #ffc971;
}

a {
  text-decoration: none;
  color: inherit;
}

footer i:hover {
  cursor: pointer;
}

.project-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
  place-items: center;
  transition: grid-template-columns 0.3s ease;
}

.projects {
  padding-top: 6rem;
}

.footer {
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  background: #070a2f;
  color: white;
  margin-bottom: 0;
  padding-bottom: 0;
  width: 100%;
}

@media (max-width: 768px) {
  .main-content {
    padding-right: 0.4rem;
    padding-left: 0.4rem;
  }
  .footer {
    padding: 0.5rem;
    font-size: 0.8rem;
    width: 100%;
  }
}

@media (max-width: 380px) {
  nav {
    display: none;
  }
}
